{
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "clike", "python", "cpp", "c", "css", "java"],
        "plugins": ["line-numbers"],
        "theme": "solarizedlight",
        "css": true
    }]
  ]
}
