aiohttp==3.5.4
async-lru==1.0.2
async-timeout==3.0.1
attrs==19.1.0
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
clickclick==1.2.2
-e git+git@github.com:mozilla/code-coverage.git@d7773e78fe674df4bc745ea47b5cc184ef520af7#egg=code_coverage_tools&subdirectory=tools
connexion==2.3.0
datadog==0.29.3
decorator==4.4.0
Flask==1.1.1
Flask-Cors==3.0.8
flask-talisman==0.7.0
google-api-core==1.13.0
google-auth==1.6.3
google-cloud-core==1.0.2
google-cloud-storage==1.16.1
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
gunicorn==19.9.0
idna==2.8
idna-ssl==1.1.0
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==2.6.0
Logbook==1.4.3
MarkupSafe==1.1.1
mohawk==1.0.0
multidict==4.5.2
openapi-spec-validator==0.2.7
pkg-resources==0.0.0
protobuf==3.9.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
python-dateutil==2.8.0
pytoml==0.1.20
pytz==2019.1
PyYAML==5.1.1
redis==3.2.1
requests==2.22.0
rq==1.0
rsa==4.0
setuptools-scm==3.3.3
six==1.12.0
slugid==2.0.0
structlog==19.1.0
swagger-ui-bundle==0.0.5
taskcluster==7.0.1
taskcluster-urls==11.0.0
typing-extensions==3.7.4
urllib3==1.25.3
Werkzeug==0.15.4
yarl==1.3.0
zstandard==0.11.1
