aiohttp==3.5.4
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.3.0
datadog==0.29.3
decorator==4.4.0
entrypoints==0.3
fakeredis==1.0.3
flake8==3.7.8
flake8-isort==2.7.0
Flask==1.1.1
Flask-Cors==3.0.8
flask-talisman==0.7.0
google-api-core==1.13.0
google-auth==1.6.3
google-cloud-core==1.0.2
google-cloud-storage==1.16.1
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
gunicorn==19.9.0
idna==2.8
idna-ssl==1.1.0
importlib-metadata==0.18
inflection==0.3.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==2.6.0
Logbook==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mohawk==1.0.0
more-itertools==7.1.0
multidict==4.5.2
openapi-spec-validator==0.2.7
packaging==19.0
pkg-resources==0.0.0
pluggy==0.12.0
protobuf==3.9.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pyparsing==2.4.0
pytest==5.0.1
python-dateutil==2.8.0
pytoml==0.1.20
pytz==2019.1
PyYAML==5.1.1
redis==3.2.1
requests==2.22.0
responses==0.10.6
rsa==4.0
six==1.12.0
slugid==2.0.0
sortedcontainers==2.1.0
structlog==19.1.0
swagger-ui-bundle==0.0.5
taskcluster==14.3.1
taskcluster-urls==11.0.0
testfixtures==6.10.0
typing-extensions==3.7.4
urllib3==1.25.3
wcwidth==0.1.7
Werkzeug==0.15.5
yarl==1.3.0
zipp==0.5.2
zstandard==0.11.1
