-e ../tools #egg=code-coverage-tools
connexion==2.5.1
datadog==0.33.0
fakeredis==1.1.0
Flask==1.1.1
Flask-Cors==3.0.8
flask-talisman==0.7.0
google-cloud-storage==1.24.1
gunicorn==20.0.4
python-dateutil==2.8.1
pytoml==0.1.21
redis==3.3.11
swagger-ui-bundle==0.0.6
zstandard==0.13.0
