
aiohttp
async-lru
cachetools
connexion
datadog
-e ../tools #egg=code-coverage-tools
flask_cors
flask_talisman
google-cloud-storage
gunicorn
python-dateutil
pytoml
redis
rq
setuptools-scm # needed by py-1.5.4 buildInputs
swagger-ui-bundle
zstandard
