// Configuration
$default_color: #4a4a4a;
$link_color: #0081ad;
$background_color: #eff7fc;
$row_height: 1.8em;
$header_height: 50px;
$footer_height: 60px;
$coverage_low: #d91a47;
$coverage_warn: #ff9a36;
$coverage_good: #438718;
$highlighted: #f7f448;
$small_screen: 1900px;

body {
  // Setup base typography
  color: $default_color;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  background-color: white;

  // For footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $link_color;

  &:hover {
    color: lighten($link_color, 10%);
  }
}

header {
  background-color: $background_color;
  border-bottom: 1px solid darkgray;
  min-height: $header_height;

  div.logo {
    display: inline-block;
    img {
      margin: $header_height * 0.1;
      max-height: $header_height * 0.8;
    }
    a {
      color: $default_color;
      line-height: $header_height;
      font-size: $header_height * 0.6;
      vertical-align: top;
    }

    // On smaller screens, hide "Code coverage" link & display a smaller logo
    @media only screen and (max-width: $small_screen) {
      img {
        max-height: $header_height * 0.6;
      }
      a {
        display: none;
      }
    }
  }

  div#menu {
    float: right;
    height: $header_height;
    line-height: $header_height;
    margin-right: 10px;
  }

  input.revision {
    width: 170px;
    font-family: monospace;
  }
}

footer {
  text-align: center;
  background: darken($background_color, 60%);
  min-height: $footer_height;
  line-height: $footer_height;
  border-top: 1px solid darkgray;

  img {
    //padding-top: 0.2 * $footer_height;
    vertical-align: middle;
    max-height: 0.75 * $footer_height;
  }

  a {
    color: lighten($link_color, 50%);
  }
}

#main {
  // Main element on flex display
  flex: 1;

  div.message {
    border-radius: 5px;
    padding: 10px;
    color: white;
    width: 40%;
    margin: 30px auto;

    &.loading {
      background: #209cee;
    }

    &.warning {
      background: #c48404;
    }

    &.error {
      background: #ff3860;
    }
  }
}

// Breadcrumb navigation
nav {
  margin-right: 5px;

  a:not(:last-child)::after {
    content: "/";
    color: #CCC;
    margin: 0 2px;
  }
}

// Directory navigation
#browser {
  margin: 1em 20%;

  // On smaller screens, display table on full width
  @media only screen and (max-width: $small_screen) {
    margin: 0.5em;
  }

  .table {
    display: table;
    width: 100%;

    div {
      display: table-row;
      height: $row_height;
      line-height: $row_height;

      > {
        :first-child {
          text-align: left;
        }

        :last-child {
          text-align: right;
        }
      }

      &.header {
        span {
          font-weight: bold;
        }
      }

      span {
        padding: 0 3px;
        text-align: center;
        height: $row_height;
        line-height: $row_height;
        display: table-cell;

        &.coverage_0 {
          color: $coverage_low;
        }
        &.coverage_10 {
          color: lighten($coverage_low, 10%);
        }
        &.coverage_20 {
          color: lighten($coverage_low, 20%);
        }
        &.coverage_30 {
          color: lighten($coverage_low, 30%);
        }
        &.coverage_40 {
          color: darken($coverage_warn, 10%);
        }
        &.coverage_50 {
          color: $coverage_warn;
        }
        &.coverage_60 {
          color: lighten($coverage_warn, 10%);
        }
        &.coverage_70 {
          color: lighten($coverage_good, 30%);
        }
        &.coverage_80 {
          color: lighten($coverage_good, 20%);
        }
        &.coverage_90 {
          color: lighten($coverage_good, 10%);
        }
        &.coverage_100 {
          color: $coverage_good;
        }
      }

      &.row {
        &:nth-child(2n+3) {
          background: hsl(0, 0%, 98%);
        }

        &:hover {
          background-color: hsl(0, 0%, 96%);
        }
      }
    }
  }

  // Navbar with stats
  h2 {
    width: 100%;

    nav, span {
      display: inline-block;
      margin-right: 3px;
    }
  }
}

// File coverage
$covered_color: #e7ffd9;
$uncovered_color: #ffc8bd;
$no_data_color: hsl(0, 0%, 98%);
$samp_size: 20px;
#file {
  div.help {
    position: fixed;
    top: 70px;
    right: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 2 * $samp_size;
    line-height: 2 * $samp_size;

    p {
      display: inline-block;
      margin: 0 6px;
      padding: 0;

      span {
        margin-left: 2px;
        vertical-align: top;
      }

      samp {
        display: inline-block;
        margin-top: $samp_size / 2;
        width: $samp_size;
        height: $samp_size;
        border: 1px solid darkgray;
      }

      &.no_data samp {
        background: $no_data_color;
      }
      &.uncovered samp {
        background: $uncovered_color;
      }
      &.covered samp {
        background: $covered_color;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
      * {
        padding: 0;
        margin: 0;
      }

      td {
        font-size: 0.9em;
        background: $no_data_color;
      }

      pre {
        padding: 1px 2px;

        // To override prism settings
        border-radius: 0px 0px;
        background: $no_data_color;
      }

      // Line number
      td:first-child {
        color: grey;
        font-size: 1em;
        vertical-align: middle;
        border-right: 1px solid #CCC;
        font-family: monospace;
        background: #f5f2f0;
        padding: 0 2px;
      }

      // Line coverage stats
      td:last-child {
        padding-right: 3px;
        text-align: right;

        span {
          padding: 2px;
          color: white;
          font-size: 0.9em;
          font-weight: bold;
          border-radius: 3px;
          background: #363636;

          &.k {
            background: #209cee;
          }
          &.M {
            background: #3273dc;
          }
        }
      }

      &.covered {
        td {
          background: darken($covered_color, 10%);
        }

        pre {
          background: $covered_color;
        }
      }

      &.uncovered {
        td {
          background: darken($uncovered_color, 10%);
        }

        pre {
          background: $uncovered_color;
        }
      }

      &.selected {
        font-weight: bold;
        td {
          background: $highlighted;
        }

        pre {
          background: $highlighted;
        }
      }
    }
  }
}

// History graph
#history {
  .ct-chart {
    width: 100%;
    height: 200px;
  }

  .ct-point {
    stroke: #6fc0f2;
    cursor: pointer;
  }

  .ct-line {
    stroke: #ccf2ff;
  }

  .ct-point:hover {
    stroke: #d91e44;
  }

  #history_details {
    color: darkgrey;
    margin-right: 20px;
    float: right;
  }
}

// Tooltip container for explanation (issue #97 enhancement)
#menu .tooltip {
  position: relative;
  display: inline-block;

  // Question mark container
  .questionbox {
    text-align: center;
    border-bottom: 1px dotted black;
    cursor: default;
  }

  // Show the tooltip text when you mouse over the tooltip container
  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltiptext {
    visibility: hidden;
    line-height: 120%;
    background-color: $default_color;
    color: white;
    text-align: left;
    padding: 2vh 2vw;
    border-radius: 6px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

    // Position the tooltip
    position: absolute;
    z-index: 1;
    width: 36vw;
    top: 100%;
    left: 50%;
    margin-left: -20vw; // Use half of the width including left horizontal padding size i.e 36vw/2 + 2vw

    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;  /* At the top of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $default_color transparent;
    }

    // Transition animation
    opacity: 0;
    transition: opacity 1s;
  }
}
