/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.gecko_code_coverage_toggle_button {
  background-color: white;
  margin-bottom: .2rem;
  margin-right: .2rem;
  padding: .3rem;
  border: 1px solid #999;
  width: auto;
  min-width: 100px;
  border-radius: .2rem;
  cursor: pointer;
}
