body {
  font-family: sans-serif;
  background-color:#eff7fc;
  color: #262626;
  line-height: 1.3em;
  margin: 1em 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #0081ad;
}

a:hover {
  color: #00a7e0;
}
label {
  padding-right: 2em;
}

header input {
  min-width: 350px;
  font-family: monospace;
}

#main {
  background-color: white;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  margin: auto;
  text-align: left;
}

#main div.message {
  padding: 10px;
  color: white;
  width: 40%;
  margin: 30px auto;
}

#main div.message.loading {
  border: 1px solid blue;
  background: #209cee;
}

#main div.message.warning {
  border: 1px solid orange;
  background: #c48404;
}

#main div.message.error {
  border: 1px solid red;
  background: #ff3860;
}

/* Directory navigation */
#output.directory, #output > .directory {
  padding: 1em 20%;
}

#output .table {
  display: table;
  width: 100%;
}

#output .table div {
  display: table-row;
  height: 1.5em;
}

#output .table div > :first-child {
  text-align: left;
}

#output .table div > :last-child {
  text-align: right;
}

#output .table span {
  text-align: center;
  height: 1.5em;
}

#output .table .row span, #output .table .header span {
  display: table-cell;
}

#output .table .row:nth-child(2n+3) {
  background: AliceBlue;
}

#output .table .row:hover {
  background-color: #d8dfe5;
}

#output h2 {
  width: 100%;
  display: block;
  font-size: 1.3em;
}

#output h2 * {
  display: inline-block;
  margin-right: 3px;
}

/* File coverage */
#output > .file, #output > .file table {
  width: 100%;
}

#output > .file nav {
  margin: 5px;
}

#output .filename {
  text-align: left;
}

#output .header {
  font-weight: bold;
}


#output .file table {
  border-collapse: collapse;
  border-spacing: 0;
}

#output tr * {
  padding: 0;
  margin: 0;
}

#output tr pre {
  padding: 0 2px;
}

#output tr td:first-child {
  color: grey;
  font-size: 1em;
  vertical-align: middle;
  border-right: 1px solid #CCC;
  font-family: monospace;
  background: #f5f2f0;
  padding: 0 2px;
}

#output tr.covered td {
  background: #c3fca2;
}

#output tr.covered pre {
  background: #e7ffd9;
}

#output tr.uncovered td {
  background: #ff8870;
}

#output tr.uncovered pre {
  background: #ffc8bd;
}

/* Breadcrumb navigation */
nav {
  margin-right: 5px;
}

nav a:not(:last-child)::after {
  content: "/";
  color: #CCC;
  margin: 0 2px;
}
